<section class="container" id="cart-page">
    <p id="back" ui-sref='products'><- back to shopping!</p>
    <hr>
    <div id="items">
        <h4>Orders here</h4>
        <button ng-click="filter('shipped')">shipped</button>
        <button ng-click="filter('cancelled')">cancelled</button>
        <button ng-click="filter('processing')">processing</button>
        <button ng-click="filter('created')">created</button>
        <button ng-click="filter('completed')">completed</button>
        <button ng-click="filter('all')">all</button>
        <table>
            <tr>
                <th>
                    <h5>Order ID</h5>
                </th>
                <th>
                    <h5>Date Placed</h5>
                </th>
                <th>
                    <h5>Customer Name</h5>
                </th>
                <th>
                    <h5>Status</h5>
                </th>
                <th>
                    <h5>Update</h5>
                </th>
            </tr>
            <tr ng-repeat='order in allOrders'>
                <td>
                    <p>
                      <a ui-sref='order({orderId: order._id})'>
                      {{order._id}}</a>
                    </p>
                </td>
                <td>
                    <h4>{{order.date}}</h4>
                </td>
                <td>
                    <p>{{order.user.name}}</p>
                </td>
                <td>
                    <select ng-model="order.status"
                    ng-options="option for option in options">
                    </select>
                </td>
                <td>
                    <button ng-click="updateOneOrder(order._id, order.status)">Save update</button>
                </td>
            </tr>
        </table>
    </div>
</section>
