<p id="back" ui-sref='product({ productId: currentProduct._id })'> <- back to {{ currentProduct.title }}</p>

<h1>Edit {{ currentProduct.title }}</h1>

<form id="login-form" name="editProduct" ng-submit="submitChange()">

    <alert type="danger" ng-show="error">
        {{ error }}
    </alert>

    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" ng-model="currentProduct.title" class="form-control" id="email" required>
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="number" step=".01" ng-model="currentProduct.price" class="form-control" id="price" required>
    </div>
    <div class="form-group">
        <label for="invQuantity">Inventory Quantity</label>
        <input type="number" ng-model="currentProduct.invQuantity" class="form-control" id="invQuantity" required>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea type="text" rows="4" ng-model="currentProduct.description" class="form-control" required></textarea>
    </div>
    <div class="form-group">
        <label for="pictureURL">Picture URL</label>
        <input type="text" ng-model="currentProduct.photo" class="form-control" id="url" required>
    </div>
    <div class="form-group">
        <label for="category">Categories (comma separated)</label>
        <input type="input" ng-model="currentProduct.category" class="form-control" id="category" required>
        <p>Copy and paste in one of these categories, or type in a new one!</p>
        <ul ng-repeat="category in categories">
            <li>{{category}}</li>
        </ul>
    </div>
    <button type="submit" class="btn btn-default">Submit Changes</button>
</form>



