<section id="product">
  <div class="container">
    <p id="back" ui-sref='products'> <- back to all products</p>
    <hr>
    <div class='item'>
      <img class='col-sm-6' src="{{product.photo}}" />
      <div class='col-sm-6' id="right">
        <h2>{{product.title}}</h2>
        <h5>{{product.price | currency:"$":2}}</h5>
        <form>
            <div id="add-to-cart">
                <div class="input-item">
                    <label for="qty">Quantity:</label>
                    <button ng-click="quantity = quantity - 1" ng-disabled="quantity <= 1">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    </button>
                    <input ng-model="quantity" min="1" type="number" value=1 name="qty" id="qty" title="Qty" />
                    <button ng-disabled="product.invQuantity <= quantity" ng-click="quantity = quantity + 1">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                    <p ng-show="(product.invQuantity <= quantity)"><font color='red'>Only {{ product.invQuantity }} left in stock</font></p>
                    <span ng-show="isAdmin">INVENTORY QUANTITY: {{ product. invQuantity}}</span>
                    <button ng-show="isAdmin" <a ui-sref='editProduct({productId: product._id})'>Edit Product</button>
                </div>
            </div>
        </form>
          <hr>
          <p>Description:</p>
          <p id="description">{{product.description}}</p>
          <li>Categories:</li>
          <li ng-repeat='category in product.category'>
              <strong>{{category}}</strong>
          </li>
          <div class="product add-to-cart">
                <button ui-sref='cart' ng-disabled="!(quantity > 0) || (product.invQuantity < quantity)" id="submit" type="submit" ng-click='addToCart()' title="Add to Cart">Add ({{quantity}}) to Cart</button>
            </div>
          </div><!-- closes class='col-sm-6' -->
        </div> <!-- closes class="item" -->

        <section class="col-sm-12">
         <div class="reviews">
         <button ng-hide="!user.type" class="review-button" ui-sref='review({ productId: product._id })'>Add Review</button>
         <h4>Customer Reviews for {{product.title}}</h4>
         <hr>
          <ul ng-repeat='review in reviews'>
            <h6>{{review.title}}</h6>
            <li ng-repeat="n in [] | range:review.rating">
              <span class="glyphicon glyphicon-star"></span>
            </li>
            <li ng-repeat="n in [] | range:(5 -review.rating)">
              <span class="glyphicon glyphicon-star-empty"></span>
            </li>
            <p>{{review.description}}</p>
              <button ng-click="deleteReview(review._id)"ng-show="isAdmin">delete review</button>
              
              <button class="twitter-share-button" ><a href="https://twitter.com/share" class="twitter-share-button" data-text="{{product.title}}" data-hashtags="upcycle"  ng-show="newReview._id === review._id" >Tweet</a></button>

            <hr>
        </ul>
       </div>
    </section>
  </div> <!-- closes class="container" -->
</section>


