<section id="product">
    <div class="container">
        <p id="back" ui-sref='products'> <- back to all products</p>
        <hr>
            <div class='item'>
                <img class='col-sm-6' src="{{product.photo}}" />
                <div class='col-sm-6' id="right">
                    <h2>{{product.title}}</h2>
                    <h5>{{product.price | currency:"$":2}}</h5>
                    <form>
                        <div id="add-to-cart">
                            <div class="input-item">
                                <label for="qty">Quantity:</label>
                                <button ng-click="quantity = quantity - 1" ng-disabled="quantity <= 1">
                                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                </button>
                                <input ng-model="quantity" min="1" type="number" value=1 name="qty" id="qty" title="Qty" />
                                <button ng-click="quantity = quantity + 1">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                        <div class="product add-to-cart">
                            <button ui-sref='cart' id="submit" type="submit" name="Add to Cart" value="Add to Cart" ng-click='addToCart(quantity)' title="Add to Cart">Add to Cart</button>
                        </div>
                    </form>
                    <hr>
                    <p>Description:</p>
                    <p id="description">{{product.description}}</p>
                    <li>Categories:</li>
                    <li ng-repeat='category in product.category'>
                        <strong>{{category}}</strong>
                    </li>
                </div>
            </div>
    </div>
</section>
