<section id="review">
  <div class="container">
    <p id="back" ui-sref='product({ productId: product._id })'> <- back to {{ product.title }}</p>
    <hr>
    <section>
      <form>
      <h4>Your review of {{ product.title }}</h4>
        <div class="form-group">
        <label>Title: </label>
          <input ng-model="review.title" type="text" class="form-control" required></input>
          <label>Review (must be between 5 and 2000 characters): </label>
          <textarea ng-model="review.description" rows="5" cols="20">A big load of text</textarea>
           Rating (1-5):  <input id="rating" required ng-model="review.rating" list="browsers" name="browser">
          <datalist id="browsers">
            <option value=1>
            <option value=2>
            <option value=3>
            <option value=4>
            <option value=5>
          </datalist>
          </input>
        </div>
        <button type="submit" ng-disabled="!user.type" ng-click="submitReview()" class="btn">submit</button>
      </form>
    </section>
  </div> <!-- closes class="container" -->
</section>
 
